@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@300&family=Raleway:wght@300&family=Redressed&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}
.top{
    background-color: #000;
    top: 0;
    position: fixed;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw;
    height: 2em;
}
.line{
    height: 1px;
    width: 100vw;
    position: absolute;
    top: 6em;
    opacity: .2;
    background-color: #000;
}
.contactMe{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 40vw;
    margin-left: 1em;
}
.top p{
    color: #fff;
    font-size: 1em;
    font-family: 'Poppins', sans-serif;
}
.top img{
    width: 3.3em;
    height: 3.3em;
    filter: invert(1);
    align-items: center;
    margin-top: -9px;
    padding-right: 2em;
}
header{
    margin-top: 3em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 2em;
    margin-right: 2em;
    align-items: center;
}
header .logo h2{
    text-transform: uppercase;
    font-family: 'Poppins', cursive;
}
header nav{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Poppins', cursive;

}
header nav ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-right: 1.6em;
}
header nav ul li{
    text-decoration: none;
    padding-left: 1.5em;
    text-transform: uppercase;
}
header nav ul li a{
    text-decoration: none;
    color: #000;
    font-weight: 550;
}
header nav ul li a:hover{
    color: rgb(194, 59, 59);
    letter-spacing: 3px;
}
header nav img{
    width: 1.5em;
    height: 1.5em;
    padding-left: -1.5em;
}
#search{
    width: 30vw;
    height: 2.2em;
    border-radius: 5px;
    border-top: #000;
    border-left: #fff;
    border: 1px transparent #fff;
}
main{
    margin-left: 2em;
    margin-top: 1.2em;
    margin-right: 2em;
    font-family: 'Montserrat', sans-serif;
}
.welcome{
    background-color: rgb(214, 236, 227);
    height: 70vh;
    display: flex;
    flex-direction: row;
    width: 70vw;
    margin: auto;
}
.welcome img{
    width: 40vw;
    height: 70vh;
    opacity: .8;
}
.note{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 30vw;
    margin-left: 5em;
}
.note h6{
    opacity: .8;
}
.note p{
    font-size: 1.9em;
    font-weight: 600;
}
.note a{
    text-decoration: none;
    background-color: rgb(207, 78, 78);
    margin-right: auto;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
}
.note a:hover{
    background-color: transparent;
    border: 2px solid rgb(207, 78, 78);
    color: rgb(207, 78, 78);
}
.featured-products{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr ;
    margin-left: 5em;
}
.fp1{
    background-color: rgb(203, 223, 216);
    width: 15vw;
    margin-bottom: 1em;
    height: 17em;
}
.fp1 h4{
    margin: .7em;
    font-size: 1.1em;
    font-weight: 550;
}
.fp1 p{
    margin-left: 1em;
    margin-right: 1em;
    margin-top: -.5em;
}
.featured-products img{
    width: 15vw;
    height: 12em;
}
.fptitle{
    font-size: 2em;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    text-align: center;
}
.popular-product{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    margin-left: 5em;
}
.popular-product img{
    width: 15vw;
    height: 12em;
}
.mainNewsletter{
    background-color: rgb(49, 51, 63);
    text-align: center;
    color: #fff;
    width: 100vw;
    margin-bottom: 2em;
}
.mainNewsletterp{
    font-size: 1.5em;
    font-weight: 600;
    margin-top: 1em;
}
.newsletter{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 5em;
    align-items: center;
}
.newsletter div{
    display: flex;
    flex-direction: row;
    color: #fff;
}
.newsletter div input{
    height: 4em;
    width: 30em;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    border-color: transparent;
}
.here{
    height: 4em;
    width: 30em;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    border-color: transparent;
}
.newsletter div img{
    height: 1em;
    width: 2em;
}
.newsletter button{
    color: #fff;
    background-color: rgb(185, 72, 72);
    font-size: 2em;
    padding: .1em;
    padding-left: .3em;
    padding-right: .3em;
    border: none;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.inp{
    position: relative;
}
.warn{
    position: absolute;
    top: 1.3em;
    right: 3.5em;
}
.warn img{
    width: 3em;
    height: 2em;
}
.hide{
    visibility: hidden;
}
.error{
    visibility: visible;
}
.socials span{
    display: flex;
    flex-direction: row;
    padding-left: 1.5em;
    font-family: 'Poppins', sans-serif;
    align-items: center;
}
footer{
    background-color: rgb(26, 27, 34);
    text-align: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section{
    background-color: rgb(24, 25, 27);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border-color: #fff;
    width: 100vw;
    padding-top: 1em;
    padding-bottom: 1em;
}
.payment{
    padding: 1em;
}
.payment p{
    font-size: .7em;
    padding: .8em;
    font-family: 'Poppins', sans-serif;
    opacity: .7;
}
.payment img{
    width: 3.5em;
    height: 2.5em;
    margin: 1em;
    margin-top: .3em;
}
.here{
    position: relative;
}
.error{
    position: absolute;
}
@media screen and (max-width: 500px){
    .top{
        visibility: hidden;
    }
    .line{
        margin-top: -3em;
    }
    header{
        margin-top: 0em;
    }
    header nav ul{
        display: flex;
        flex-direction: column;
        position: absolute;
        visibility: hidden;
        top: 50%;
        left: 50%;
    }
    .logo h2{
        position: absolute;
        top: 0;
        left: 35%;
    }
    main{
        visibility: visible;
        margin-top: 3em;
    }
    .welcome{
        height: 15em;
        position: relative;
        background-color: rgba(255, 255, 255, 0.9);
        width: 90vw;
    }
    .welcome img{
        position: absolute;
        height: 14em;
        width: 100%;
    }
    .note{
        background-color: transparent;
        z-index: 1;
        max-width: 90vw;
        margin: 0;
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: #000;
    }
    .note p{
        font-size: 1em;
        text-align: center;
        padding: 5px;
        padding-right: 20px;
    }
    .note a{
        text-align: center;
        margin-left: 100px;
    }
    .featured-products{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        margin-left: 0em;
    }
    .fptitle p{
        font-size: .6em;
        margin-top: 1em;
    }
    .fp1{
        width: 120px;
        margin: 10px;
        height: 200px;
    }
    .fp1 img{
        height: 100px;
        width: 120px;
    }
    .popular-product{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        margin-left: 0em;
    }
    .mainNewsletter{
        border-radius: 10px;
    }
    .mainNewsletterp{
        font-size: 1.1em;
        font-weight: 600;
        margin-top: 1em;
        margin-right: 4em;
    }
    .newsletter{
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 3.5em;
        align-items: center;
        margin-right: 5em;
    }
    .newsletter div{
        display: flex;
        flex-direction: row;
        color: #fff;
    }
    .newsletter div input{
        height: 2.5em;
        width: 15em;
        border-bottom-left-radius: 10px;
        border-top-left-radius: 10px;
        border-bottom-right-radius: 0px;
        border-top-right-radius: 0px;
        border-color: transparent;
    }
    .newsletter div img{
        height: 1em;
        width: 2em;
    }
    .newsletter button{
        color: #fff;
        background-color: rgb(185, 72, 72);
        font-size: 2em;
        padding: 0em;
        padding-left: .3em;
        padding-right: .3em;
        border: none;
        border-bottom-left-radius: 0px;
        border-top-left-radius: 0px;
        border-bottom-right-radius: 10px;
        border-top-right-radius: 10px;
        cursor: pointer;
        margin-left: -.7em;
        z-index: 1;
    }
    .inp{
        position: relative;
    }
    .warn{
        position: absolute;
        top: 1em;
        right: 3.5em;
    }
    .warn img{
        width: 3em;
        height: 2em;
    }
    .hide{
        visibility: hidden;
    }
    .error{
        visibility: visible;
    }
    .socials{
        visibility: hidden;
    }
    .payment{
        visibility: hidden;
        position: absolute;
    }
    .section{
        background-color: rgb(24, 25, 27);
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        border-color: #fff;
        width: 100vw;
        padding-top: 1em;
        padding-bottom: 1em;
        font-size: .7em;
    }
}
